# Order is important. The last matching pattern has the most precedence.

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming
/assets/                                                       @philippemnoel @rebasedming
/sql/                                                          @philippemnoel @rebasedming
/src/                                                          @rebasedming @philippemnoel
/tests/                                                        @rebasedming @philippemnoel
